@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #120F0F;
  --text-primary: #FFFFFF;
}

body {
	background-color: var(--background-primary);
  color: var(--text-primary);
}