@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #120f0f;
  --text-primary: #ffffff;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  scroll-behavior: smooth;
}
